body {
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  text-align: center;
  width: 244px;
  height: 71px;
  left: 50%;
  margin-left: -122px;
}

.main-navigation {
  font-weight: 700;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation li {
  box-sizing: border-box;
  width: 239px;
  min-height: 56px;
  padding: 17px 70px;
}

.site-navigation li:nth-child(2) {     /*???*/
  margin-right: 244px;                 /*???*/
}


.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  background-color: #ffffff;

  width: 1200px;
  margin: 0 auto;
}

.intro-slide {
  background-color: #a9a9a9;
  background: url(../img/intro-mask.svg) no-repeat 0 453px,
              url(../img/background-photo.jpg) no-repeat 0 29%;
  height: 509px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features .features-lead {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  width: 440px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.features .features-desc {
  line-height: 26px;
  text-align: center;
}

.feature-list {
  margin-top: 55px;
}

.booking .booking-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.booking .booking-desc {
  line-height: 24px;
  text-align: center;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.filter-search {
  background-color: #a9a9a9;
  background-image: url(../img/filter-background.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  color: #ffffff;
}

.filter-search ul {
  list-style: none;
}

.catalog {
  width: 1200px;
  min-height: 455px;
  box-sizing: content-box;
}

.catalog-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.catalog-item {
  box-sizing: border-box;
  width: 1200px;
  min-height: 150px;
  padding: 30px 70px;
}

.catalog-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
  color: #81b3d2;
}

.catalog-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-type,
.catalog-item-price {
  color: #333333;
}

.catalog-item-rating {
  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}

.button {
  color: #ffffff;
  font-weight: 700;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color:#5496bd;

  color: rgba(255, 255, 255, 0.3);
}

.button-braun {
  background-color: #766357;
}

.button-braun:hover,
.button-braun:focus {
  background-color: #604e43;
}

.button-braun:active {
  background-color: #503e33;

  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  background-color: rgb(255, 255, 255, 0.9);

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.footer-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  margin: 0;
  width: 130px;
  margin-left: 130px;
}

.footer-link a {
  color: #000000;
}

.footer-social {
  text-align: center;

  width: 150px;
}

.footer-social ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgb(255, 255, 255, 0.3)
}

.footer-copyright {
  width: 200px;
  margin: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.copyright-link {
  width: 115px;
  height: 41px;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}
